@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap');

/* GRID AREA FOR OVERALL PAGE LAYOUT*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;

  display: grid;
  grid-template-areas:
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 1fr 70px;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

header,
footer,
main,
nav {
  background-color: white;
  color: black;
  padding: 20px;
  border: rgb(0, 0, 0) 0px solid;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}


footer {
  grid-area: footer;
}

/* GRID AREA FOR HEADER*/

header {
  display: grid;
  background-color: rgb(231, 243, 236);
  border-bottom: solid 0px rgb(225, 225, 225);
  grid-template-columns: 200px 1fr 1fr 1fr 200px;
  grid-template-areas:
    'logo . score . stats';
}

.logo,
.score,
.stats {
  border: solid 0px black;
}

.logo {
  grid-area: logo;
  align-self: center;
}

.stats p {
  text-align: right;
}

.score {
  grid-area: score;
  justify-self: center;
  align-self: center;
}

.stats {
  grid-area: stats;
  justify-self: right;
  align-self: center;
}



/* GRID AREA FOR MAIN*/

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px 1fr 100px;
  gap: 15px;
  grid-template-areas:
    'h1 h1 h1 h1 h1'
    'tiles tiles tiles tiles tiles'
    '. reset reset reset .'
    ;
}

main h1 {
  grid-area: h1;
  justify-self: center;
}

.tiles {
  grid-area: tiles;
  justify-self: center;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    '. tile tile tile .'
    ;
}

/* .tile {
  border: solid thin black;
  grid-area: tile;
  justify-self: center;
} */

.tiles div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 150px;
  width: 150px;
}

.tile img {
  height: 115px;
  width: 115px;
  padding: 15px;
}

button {
  background-color: #04AA6D;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.reset {
  grid-area: reset;
  justify-self: center;
}

#reset-btn {
  width: 120px;
}

#start-btn {
  width: 120px;
}

/* BUTTON GLOW EFFECT*/

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 25px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* GRID AREA FOR FOOTER */

footer {
  text-align: center;
  background-color: rgb(231, 243, 236);
  color: rgb(194, 190, 190);
}

.hidden {
display: none;
}




