@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap');

/* GRID AREA FOR OVERALL PAGE LAYOUT*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh;

  display: grid;
  grid-template-areas:
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 1fr 70px;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

header,
footer,
main,
nav {
  background-color: white;
  color: black;
  padding: 20px;
  border: rgb(0, 0, 0) 1px solid;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}


footer {
  grid-area: footer;
}

/* GRID AREA FOR HEADER*/

header {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr 200px;
  grid-template-areas:
    'logo . score . stats';
}

.logo,
.score,
.stats {
  border: solid thin black;
}

.logo {
  grid-area: logo;
}

.score {
  grid-area: score;
  justify-self: center;
}

.stats {
  grid-area: stats;
  justify-self: right;
}



/* GRID AREA FOR MAIN*/

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px 1fr 50px;
  gap: 15px;
  grid-template-areas:
    'h1 h1 h1 h1 h1'
    'tiles tiles tiles tiles tiles'
    '. reset reset reset .'
    ;
}

main h1 {
  grid-area: h1;
  justify-self: center;
}

.tiles {
  grid-area: tiles;
  justify-self: center;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    '. tile tile tile .'
    ;
}

/* .tile {
  border: solid thin black;
  grid-area: tile;
  justify-self: center;
} */

.tiles div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 150px;
  width: 150px;
}

.tile img {
  height: 115px;
  width: 115px;
  padding: 15px;
}

button {
  background-color: #04AA6D;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.reset {
  grid-area: reset;
  justify-self: center;
  /* padding-right: 50px; */
}

#reset-btn {
  width: 120px;
}

#start-btn {
  width: 120px;
}

/* GRID AREA FOR FOOTER */

footer {
  text-align: center;
  color: rgb(194, 190, 190);
}

.hidden {
display: none;
}